@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.warning {
  text-align: center;
  color: #141414;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > span {
  display: inline-block;
  background: purple;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 0.5rem;
  transform: translate3d(0);
  animation: bounce 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
  background: palevioletred;
  animation-delay: 0.2s;
}
.loader > span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    width: 16px;
    height: 16px;
    transform: translate3d(0, -16px, 0);
  }
}

.chart {
  z-index: 3 !important;
  background: rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.chart h1 {
  color: #141414 !important;
  text-align: center;
  margin-bottom: 0.75rem;
  margin-top: -1rem;
  font-size: 3rem;
}
.chart h3 {
  margin-bottom: 0.75rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.form {
  width: 25rem;
}

select {
  z-index: 2;
  margin-left: 1rem;
  width: 70%;
  font-size: 1rem;
  border-radius: 0.2rem;
}

.input-group {
  margin: 1rem;
  display: flex;
}
.formContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: url('https://images.unsplash.com/photo-1530037768512-3c9a22715452?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')
    no-repeat center center/cover;
}

input,
h1 {
  position: relative;
  z-index: 2;
}
h1 {
  font-size: 4rem;
  color: #fff;
  font-weight: 100;
  margin-bottom: 0.5rem;
}

input {
  padding: 0.7rem 1.3rem;
  width: 100%;
  border-radius: 0.2rem;
  outline: none;
  font-size: 1.1rem;
  border: none;
}
input[type='submit'] {
  background: chartreuse;
  transition: 0.4s background-color ease-in-out;
  cursor: pointer;
  width: 100%;
}
input[type='submit']:hover {
  background: #7fdd00;
}

@media (max-width: 1100px) {
  .grid > div:nth-child(1) {
    justify-content: flex-start !important;
    padding-top: 3rem;
  }
  .formContainer {
    height: 45vh;
    text-align: center;
  }
  .chart {
    height: 60vh;
  }
  .loader {
    align-items: flex-end;
    margin-top: 50%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 450px) {
  h1 {
    font-size: 2.5rem;
  }
}
